
body {
	padding-top: 50px;
}
.container {
	display: flex;
}

#carousel {
	height: 400px;
	width: 500px;
	border: #000 3px solid;
	overflow: hidden;
	position: relative;
}
#gallery {
	width: 2500px;
}

ul li {
	float: left;
	height: 400px;
	width: 500px;
}

ul li img {
	height: 100%;
	width: 100%;
}

.left-arrow, .right-arrow {
	align-self: center;
	flex: 1;
}
.left-arrow>i, .right-arrow>i  {
	font-size: 30px;
	margin: 10px;
}
.left-arrow {
	text-align: right;
}
.right-arrow {
	text-align: left;
}
.bubbles {
	position: absolute;
	top: 350px;
	left: 189px;
}
.bubble {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	border: #ccc 2px solid;
}
.bubble-1 {
	background: #ccc;
}